
*{
    font-family: cairo;
}

.card {
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    background-color:  rgb(227, 227, 227);
    border-radius: 15px;
    padding: 2rem;
  }
  
  .card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
  }
    
    h3 {
    font-size: 24px;
    font-weight: bold;
    color: #198754;
    }

  .gradient-bg {
    background: linear-gradient(135deg, #324f2a, #7f8b82);
   
  }
  .container {    
    height: 500px;
    flex: 1;
  }

  