<!-- <div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body shadow" style="background-color: #f8f9fa;">
          <h3 class="text-center text-success">تحويل العملات</h3>

          <div class="row">
            <div class="col">
              <label for="from">من</label>
              
            </div>

            <div class="col text-center mt-4">
              
            </div>

            <div class="col">
              <label for="To">إلى</label>
              
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-sm-4">
              
            </div>
          </div>

          <div class="row">
            <div class="col">
             
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


 -->

  
<div class="gradient-bg">
  <div class="container py-5">
    <div class="col">
      <div class="card">
        <div class="card-body shadow" >
          <h3 class="text-center">Currency Converter</h3>

          <div class="row">
            <div class="col">
              <label for="from">From</label>
              <select class="form-control" id="from" [(ngModel)]="fromconvert" (change)="getCurrencyData()">
                <option *ngFor="let item of currancy" [value]="item.Currency_code">
                  {{ item.country_name }}
                </option>
              </select>
            </div>

            <div class="col text-center mt-4">
              <button class="btn btn-secondary" (click)="swapCurrencies()">⇆</button>
            </div>

            <div class="col">
              <label for="to">To</label>
              <select class="form-control" id="To" [(ngModel)]="toconvert" (change)="getCurrencyData()">
                <option *ngFor="let item of currancy" [value]="item.Currency_code">
                  {{ item.country_name }}
                </option>
              </select>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-sm-4">
              <label for="currency" style="font-weight: bold;">Enter the amount:</label>
              <input type="number" class="form-control shadow" id="currency" [(ngModel)]="amount" (input)="getCurrencyData()" placeholder="Enter the amount">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h5 class="alert alert-success text-center mt-3">{{ result || '' }}</h5>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
