<header class="bg-dark py-3">
    <nav class="container d-flex align-items-center justify-content-between">
      <a href="/home" class="navbar-brand text-light d-flex align-items-center">
        <img class="rounded-circle me-2" [src]="imageUrl" alt="Currency Converter Logo" width="40" height="40">
        <strong style="margin: 2%;" > Currency Converter </strong>
      </a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-light fw-bold" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/convercurrancy" routerLinkActive="active">Convert Currency </a>
        </li>
      </ul>
    </nav>
  </header>
<router-outlet/>
